/* aqui estamos indicando que cuando el ancho sea 
menos de 615px que es el ancho estándard, quiero que me aplique los siguientes estilos */
@media (max-width: 615px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }

    /* FLEXBOX PARA ORDENAR LOS ELEMENTOS */
    /* TELEFONO DE CONTACTO */
    .navigation-wrapper > .left-column {
        order: 2;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    /* LOGO */
    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    /* DIRECCIÓN */
    .navigation-wrapper > .right-column {
        order: 3;
        margin-top: 15px;
    }
    /* LINKS DE NAVEGACION (HOME, ABOUT, MENU Y CONTACT */
    .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }

    /* COLUMNA CENTRAL - BANNER */
    .hero-section {
        padding: 50px 10px;
    }
    /* ICONOS Y CARACTERISTICAS */
    .feature-section {
        height: 100%;
    }
    /* ICONOS Y CARACTERISTICAS Y MAPA */
    .feature-section > .columns-wrapper {
        width: 100%;
        flex-direction: column;
    }
    /* PIE DE PAGINA */
    .footer {
        height: 100%;
    }
}



